@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e7ed;
  padding: 95px 80px;
}

.wrapper {
  overflow: hidden;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1300px) {
  .containerM {
    width: 1140px;
  }
}

.page {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerM {
  margin: 0px auto;
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__image {
  background-image: url(../img/block_1/rectangle_7_368.png);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
}

.header__textandsearch {
  margin: auto;
  padding: 177px 0px;
  text-align: center;
  max-width: 540px;
}

@media (max-height: 490px) {
  .header .header__textandsearch {
    padding: 160px 0px;
  }
}

@media (max-height: 450px) {
  .header .header__textandsearch {
    padding: 143px 0px;
  }
}

@media (max-height: 410px) {
  .header .header__textandsearch {
    padding: 125px 0px;
  }
}

@media (max-height: 370px) {
  .header .header__textandsearch {
    padding: 100px 0px;
  }
}

@media (max-height: 340px) {
  .header .header__textandsearch {
    padding: 80px 0px;
  }
}

.header__title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #33363b;
}

.header__sub-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #33363b;
  padding: 35px 0px 13px 0px;
}

.form-control {
  height: 50px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #cacdd3 !important;
  background-clip: unset;
  border: unset;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: #cacdd3;
}

.form-control:-ms-input-placeholder {
  color: #cacdd3;
}

.form-control::-ms-input-placeholder {
  color: #cacdd3;
}

.form-control::placeholder {
  color: #cacdd3;
}

.btn {
  background-color: #8c91ff;
  height: 50px;
  padding: 13px 17px;
  border: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px;
}

.along {
  margin: 30px auto;
}

.along__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px -15px;
  height: 264px;
}

@media (max-width: 1188px) {
  .along .along__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 0px;
    height: 100%;
  }
  .along .along__left {
    padding: 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .along .along__right {
    width: 360px;
    padding: 0px;
    margin-top: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .along .along__right-image {
    height: 264px;
  }
}

.along__left {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67.1%;
          flex: 0 1 67.1%;
}

.along__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52%;
          flex: 0 1 52%;
  background-color: #ffffff;
  padding: 30px 23px 30px 35px;
  position: relative;
}

.along__left-content::before {
  content: "";
  border: solid transparent;
  position: absolute;
  right: 100%;
  top: 50%;
  border-right-color: #ffffff;
  border-width: 10px;
  margin-top: -10px;
}

.along__left-content-title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #33363b;
}

.along__left-content-title:after {
  display: block;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #ff7098;
  margin-top: 14px;
  margin-bottom: 14px;
}

.along__left-content-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #868d9b;
}

.along__left-content-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 17px 0px 0px -6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 330px;
}

.along__left-content-down-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 84.9%;
          flex: 0 1 84.9%;
}

.along__left-content-down-left a {
  display: block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #33363b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.along__left-content-down-left:hover a {
  font-size: 15px;
}

.along__left-content-foto {
  display: inline-block;
  margin-right: 9px;
}

.along__left-content-down-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 15.1%;
          flex: 0 1 15.1%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #868d9b;
}

.along__left-content-like img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.along__left-content-like:hover img {
  width: 22px;
  height: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.along__right {
  padding: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.9%;
          flex: 0 1 32.9%;
}

.along__right-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 73%;
          flex: 0 73%;
  background-image: url(../img/block_2/cup.png);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.along__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.along__right-column-all {
  width: 97px;
  height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #868d9b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.along__right-column-all img {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.along__right-column-all:hover img {
  width: 22px;
  height: 20px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.along__right-column-center {
  margin: 1px 0px;
}
