@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  /*
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	*/
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: "Roboto", sans-serif;
  background-color: #e1e7ed;
  padding: 95px 80px;
}

.wrapper {
  overflow: hidden;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerM {
  margin: 0px auto;
}

.header__content {
  width: 100%;
  height: 100%;
}

.header__image {
  background-image: url(../img/block_1/rectangle_7_368.png);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
}

.header__textandsearch {
  margin: auto;
  padding: 177px 0px;
  text-align: center;
  max-width: 540px;
}

.header__title {
  font-size: 30px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #33363b;
}

.header__sub-title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  letter-spacing: 0.025em;
  color: #33363b;
  padding: 35px 0px 13px 0px;
}

.form-control {
  height: 50px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #cacdd3 !important;
  background-clip: unset;
  border: unset;
  border-top-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 0;
}

.form-control::-webkit-input-placeholder {
  color: #cacdd3;
}

.form-control:-ms-input-placeholder {
  color: #cacdd3;
}

.form-control::-ms-input-placeholder {
  color: #cacdd3;
}

.form-control::placeholder {
  color: #cacdd3;
}

.btn {
  background-color: #8c91ff;
  height: 50px;
  padding: 13px 17px;
  border: unset;
  border-top-left-radius: 0;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 7px;
}

.along {
  margin: 30px auto;
}

.along__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.along__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67.1%;
          flex: 0 1 67.1%;
}

.along__left-content {
  background-color: #ffffff;
  padding: 35px 30px 23px 30px;
}

.along__left-content-title {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  color: #33363b;
}

.along__left-content-title:after {
  display: block;
  content: "";
  width: 40px;
  height: 2px;
  background-color: #ff7098;
  margin-top: 19px;
  margin-bottom: 19px;
}

.along__left-content-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #868d9b;
}

.along__left-content-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.along__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.9%;
          flex: 0 1 32.9%;
}

.along__right-image {
  background-image: url(../img/block_2/cup.png);
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.along__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.along__right-column-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.along__right-column-center {
  position: relative;
}

.along__right-column-center-bg {
  background-image: url(../img/block_2/separator_417.png);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
