.ramsay {
  &__row {
    display: flex;
    flex-direction: row;
    margin: 0px -15px;
  }

  &__left {
    padding: 0px 15px;
  }

  &__left-body {
    padding: 0px;
  }

  &__right {
    padding: 0px 15px;
  }

  &__right-video {
  }

  &__video {
    width: 750px;
  }
}
.container {
}
.d-flex {
}
.justify-content-center {
}
.card {
  margin-top: 0px !important;
  width: 360px;
  height: 504px;
  border: none;
  border-radius: 0;
}
.mt-5 {
}
.px-4 {
}
.pt-5 {
}
.pb-4 {
}
.name {
}
.flex-row {
}
.text-muted {
}
.fas {
}
.fa-check {
  padding: 5px;
  border: 1px solid #c8c8c8;
  border-radius: 50%;
  font-size: 8px;
}
.ml-2 {
}
.justify-content-between {
}
.mt-4 {
}
.pr-4 {
}
.flex-column {
}
.align-items-center {
}
.d-grid {
}
.gap-2 {
}
.col-6 {
}
.mx-auto {
}
.btn {
}
.btn-primary {
}
