.great {

	@media (max-width:1040px) {
		.great__left{
			flex: 1 0 41.4%;
		}
		
	}
	@media (max-width:940px) {
		.great__left{
			display: none;
		}
	}
	@media (max-width:748px) {
		.great__right{
			padding: 38px;
		}
	}
	@media (max-width:695px) {
		.great__right{
			padding: 28px;
		}
	}
	@media (max-width:620px) {
		.great__right p{
			font-size: 15px;
			line-height: 30px;
		}
		.great__right-title{
			font-size: 30px;
		}
	}

  padding-top: 30px;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__left {
    flex: 1 0 51.4%;
  }

  &__img {
    background-image: url(../img/block_6/image_425.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    //position: relative;
    &:hover:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      background-image: linear-gradient(to left, #dae1e9, #71b4ee);
      // background-image: linear-gradient(to left, #11de93, #0e7ad6);
      opacity: 0.5;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 48.6%;
    background-color: #fff;
    padding: 58px;
    align-items: center;

    p {
      font-family: "PT Serif", serif;
      font-size: 18px;
      line-height: 36px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #626a73;
      text-align: center;
      margin: 29px 0px 38px;
    }
  }

  &__right-up {
    font-family: "PT Serif", serif;
    font-size: 18px;
    //line-height: 24px;
    font-weight: 700;
    font-style: italic;
    color: #33363b;
    &::before {
      display: inline-block;
      content: ("");
      width: 35px;
      height: 1px;
      background-color: #33363b;
      margin-bottom: 5px;
      margin-right: 8px;
    }
    &::after {
      display: inline-block;
      content: ("");
      width: 35px;
      height: 1px;
      background-color: #33363b;
      margin-bottom: 5px;
      margin-left: 8px;
    }
  }

  &__right-title {
    font-size: 48px;
    //line-height: 24px;
    font-weight: 700;
    color: #33363b;
    text-align: center;
    margin-top: 13px;

    &::after {
      display: block;
      content: ("");
      width: 60px;
      height: 4px;
      background-color: #33363b;
      margin: 29px auto 0px;
    }
  }

  &__right-btn {
    line-height: 3px;
    font-size: 14px;
    font-weight: 500;
    color: #33363b;
    width: 165px;
    height: 50px;
    background-color: rgba(98, 106, 115, 0);
    border: 1px solid #99a3b4;
    border-radius: 4px;
    transition: all 0.5s ease;
  }

  &__right-btn:hover {
    color: #fff;
    background-color: rgb(36, 197, 161);
    border: 1px solid #99a3b4;
  }
}
