.gentleman {

	@media (max-width:714px) {
		.gentleman__content-center{
			font-size: 55px;
		}
	}
	@media (max-width:675px) {
		.gentleman__content-center{
			font-size: 50px;
		}
	}
  padding-top: 30px;

  &__image {
    background-image: url(../img/block_4/photo_bg.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }

  &__content {
    padding: 60px 0px 57px 97px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 555px;
  }

  &__content-up {
    font-size: 12px;
    //line-height: 89px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #33363b;
    &::after {
      display: block;
      content: ("");
      height: 5px;
      width: 550px;
      margin-top: 9px;
      border-top: double #ccd4dd;
    }
  }

  &__content-center {
    font-family: "PT Serif", serif;
    font-size: 60px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #33363b;
  }

  &__content-down {
    span {
      font-size: 14px;
      //line-height: 89px;
      font-weight: 400;
      letter-spacing: 0.025em;
      color: #868d9b;
      margin-right: 30px;
    }
    &::before {
      display: block;
      content: ("");
      height: 5px;
      width: 550px;
      margin-bottom: 9px;
      border-top: double #ccd4dd;
    }
  }

  &__content-down-name {
    font-weight: 500;
    color: #ffa24f;
    transition: all 0.5s ease;
  }
  &__content-down-name:hover {
    font-weight: 600;
    color: #fc6119;
  }
}
